body {
    margin: 0;
    margin-top: calc(var(--leaderboard-margin) / 2);
    margin-bottom: calc(var(--leaderboard-margin) / 2);
    background-color: black;
}

#leaderboard {
    position: relative;
    width: var(--leaderboard-width);
    left: var(--leaderboard-offset);
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    top: 0;
}

#titleArea {
    width: 100%;
    height: calc(0.6 * var(--header-height));
    text-align: center;
    position: relative;
    z-index: 1;

    background-color: darkred;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#title {
    color: white;
    line-height: calc(0.6 * var(--header-height));
    margin: auto;
}

#searchArea {
    width: 100%;
    height: calc(0.4 * var(--header-height));
    position: sticky;
    z-index: 10;
    top: 0;
    
    background-color: rgb(122, 0, 0);
}

#rankings {
    width: 100%;
}

#top3 {
    width: 100%;
    height: calc(0.4 * var(--simulated-viewport-width));
    position: relative;
}

.topRankerWrapper {
    position: absolute;
    bottom: 6%;
    width: 24%;
}

#firstPlace {
    left: 36.5%;
    width: 27%;
}

#secondPlace {
    left: 7%;
}

#thirdPlace {
    right: 7%;
}

.topRanker {
    padding-top: 150%;
    text-align: center;
}

.topRankLabel {
    position: absolute;
    width: 100%;
    line-height: 20%;
    color: var(--text-color);
    top: 0;
}

.topRankName {
    position: absolute;
    width: 100%;
    line-height: 20%;
    color: var(--text-color);
    top: 100%;
}

.topRankDays {
    position: absolute;
    width: 100%;
    line-height: 15%;
    color: var(--text-color);
    top: 117%;
}

.topRankAvatarContainer {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    width: 80%;
    left: 10%;
    top: 20%;
}

.avatar {
    padding-top: 100%;
}

.avatarImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#followers {
    width: 100%;
    border-collapse: collapse;
}

.followerRow {
    width: 100%;
    height: 8vh;
}

.followerRow tr:nth-child(even) {
    background-color: #dddddd;
}

.followerRow.rowB {
    background-color: rgba(0, 0, 0, 0.096);
}

.followerRank {
    display: inline;
    line-height: 8vh;
    font-size: 30px;
    position: absolute;
    margin: auto;
    left: 20px;
}

.followerDays {
    display: inline;
    line-height: 8vh;
    font-size: 24px;
    position: absolute;
    margin: auto;
    right: 15px;
}

.followerName {
    display: inline;
    line-height: 8vh;
    font-size: 20px;
    position: absolute;
    margin: auto;
    left: 185px;
}

.followerAvatar {
    position: relative;
    width: 7vh;
    height: 7vh;
    top: 0.5vh;
    left: 80px;
}

.daysUnit {
    font-size: 16px;
}

:root {
    --text-color: rgb(51, 51, 51);
    --simulated-viewport-width: min(100vw, 600px);
    --leaderboard-margin: min(50px, calc(0.13 * var(--simulated-viewport-width)));
    --leaderboard-width: calc(var(--simulated-viewport-width) - var(--leaderboard-margin));
    --leaderboard-offset: calc((100vw - var(--leaderboard-width))/2);
    --header-width: max(
        calc(var(--leaderboard-width) * 0.9), 
        calc(var(--leaderboard-width) - 40px)
    );
    --header-height: calc(0.2 * var(--simulated-viewport-width));
    --header-margin: calc((var(--leaderboard-width) - var(--header-width)) / 2)
}